In [2]:
5+1

6

In [3]:
5 // 2

2

In [4]:
5-3

2

#### 논리연산자
- and: 논리곱
- or : 논리 합
- not : 논리 부정

In [6]:
True and True

True

In [7]:
(5 > 2) and (5 <= 2)

False

In [8]:
not True

False

In [9]:
not (5 <= 2)

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 톡정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [10]:
variable = 10
variable

10

In [11]:
variable = True
variable

True


## 데이터 타입
- 정수형
- 실수형
- 논리형
- 문자열

In [12]:
type(True)

bool

In [13]:
type('문자열')

str

In [ ]:
variable = 10.0
variable

#### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열로 변환

In [15]:
int(10.34)

10

In [16]:
int(True)

1

In [17]:
float(10)

10.0

In [5]:
5>=7

False

In [18]:
float(True)

1.0

In [19]:
float('10.0')

10.0

In [20]:
float('NaN')

nan

In [24]:
float('Inf')

inf

### 대입연산자

- '=' : 좌항에 우항을 대입
- '+=' : 좌항에 좌항값에 우항을 더한 값을 대입
- '-=' : 좌항에 좌항값에 우항을 뺀 값을 대입
- '*=' : 좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' : 좌항에 좌항값에 우항을 나눈 값을 대입
- '**=' : 좌항에 좌항값에 우항을 거듭곱한 값을 대입
- '//=' : 좌항에 좌항값에 우항을 나눈몫 값을 대입

### 파이썬은 증감연산자가 존재하지 않음

증감을 표현하고 싶으면 변수 += 1, 변수 -= 1

In [25]:
variable = 10

In [80]:
variable += 3
variable

175

### 문자열

- 출력 : print() 함수로 출력
- 문자열 연산 : + 연결, * 반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결해야 함
- 문자열 : '혹은 "로 묶어서 표현, \n 으로 줄바꿈 가능
- 여러줄의 문자열 : ''' 혹은 """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포멧을 만들어 사용 가능

In [81]:
print('문자열')

문자열

In [84]:
string1 = '문자열1'
print(string1)
string2 = '문자열2'
print(string2)

문자열1
문자열2

In [94]:
date = '2024-07-18'
date = date.replace('-', '.')
date

'2024.07.18'

In [99]:
name = '이성계'
age = 56

print(str(name) + '의 나이는 ' + str(age) + '입니다.')
print(f'{name}의 나이는 {age}입니다.')

이성계의 나이는 56입니다.
이성계의 나이는 56입니다.

In [85]:
string1 + string2

'문자열1문자열2'

In [86]:
string1 * 5

'문자열1문자열1문자열1문자열1문자열1'

In [87]:
integer = 10

In [ ]:
f''

In [111]:
f'{'abcd':0>20}'

'0000000000000000abcd'

In [88]:
string1 + integer + string2

TypeError: can only concatenate str (not "int") to str

### NaN. Inf

- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [89]:
string1 + str(integer) + string2

'문자열110문자열2'

In [90]:
print('안녕하세요\n반갑습니다')

안녕하세요
반갑습니다

In [93]:
statement = '''
안녕하세요
반갑습니다
'''
print(statement)

안녕하세요
반갑습니다

### 연산자

#### 산술연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱